<footer class="page-footer">
  <div class="container left-align footer-links">
    <div class="col l4 s12">
      <ul>
        <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
        <li><a class="grey-text text-lighten-3" href="/#about">About</a></li>
        <li><a class="grey-text text-lighten-3" href="/campaigns">Campaigns</a></li>
        <li><a class="grey-text text-lighten-3" href="/campaigns/new">Create a Campaign</a></li>
        <% if(!isAuthenticated) { %>
        <li><a class="grey-text text-lighten-3" href="/users/new">Signup</a></li>
        <% } %>
      </ul>
    </div>
  </div>
    <div class="footer-copywrite">
      <div class="copywrite right-align light-text">© Money on the Board 2017
      </div>
  </div>
</footer>
