<header>
  <nav>
    <div class="nav-wrapper">
      <form action="/<%= isAuthenticated ? 'logout' : 'login' %>" method="post">
      <a href="/" class="brand-logo">MOTB</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/campaigns/new">Create</a></li>
        <% if(isAuthenticated) { %>
        <li><a>Welcome, <%= currentUser.username %>.</a></li>
        <li><input type="submit" value="Log Out" class="btn"/></li>
        <% } else { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/users/new">Signup</a></li>
        <% } %>
        </li>
      </ul>
      </form>
    </div>
  </nav>
</header>
