<header>
  <nav>
    <div class="nav-wrapper">
      <form action="/<%= isAuthenticated ? 'logout' : 'login' %>" method="post">
      <a href="/" class="brand-logo">MOTB</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down navbar-links">
        <li><a href="/campaigns">Campaigns</a></li>
        <li><a href="/campaigns/new">Create</a></li>
        <li><a class="grey-text text-lighten-3" href="/#about">About</a></li>
        </li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if(isAuthenticated) { %>
        <li><a>Welcome, <%= currentUser.username %>.</a></li>
        <li><button type="submit" class="btn btn-log button"/>Logout</button></li>
        <% } else { %>
          <li><a href="/users/new">Signup</a></li>
          <li><button class="btn btn-log button" href="/login">Login</button></li>
        <% } %>
        </li>
      </ul>
      </form>
    </div>
  </nav>
</header>
