<head>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link rel="stylesheet" href="/style.css">

  <!-- Matierialize icons sytlesheet -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

   <!--JQuery-->
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

  <script type="text/javascript" src="/scripts/modal.js"></script>

  <script type="text/javascript" src="/scripts/parallax.js"></script>

  <script type="text/javascript" src="/scripts/select.js"></script>

  <script type="text/javascript" src="/scripts/pledge-validate.js"></script>

  <script type="text/javascript" src="/scripts/campaign-validate.js"></script>

  <script type="text/javascript" src="/scripts/signup-validate.js"></script>

  <script type="text/javascript" src="/scripts/login-validate.js"></script>


  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.js"></script>

  <!-- Twitter widget source -->
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

 <title>Money on the Board</title>

</head>
