.back {
  display: block;
  height: 270px;
  width: 470px;
}

.button-cycle {
  color: #ffffff;
  margin-right: 4px;
}

.flip-board {
  float: left;
}

.flip-button {
  background-color: #e3383f;
  border: solid 1px #ffffff;
  border-radius: 25px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  float: right;
  height: 30px;
  margin-right: 10px;
  margin-top: 10px;
  padding-left: 4px;
  width: 30px;
}

.flip-button:hover {
  background-color: #b52c32;
}

.flip-button:focus {
  background-color: #b52c32;
}

.front {
  display: block;
  height: 270px;
  width: 470px;
}

.game-content {
  height: 400px;
  margin: 5px 5px 0 5px;
  min-height: 0;
  min-width: 0;
  overflow: auto;
}

.game-feed {
  background-color: rgb(0, 69, 133);
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  display: inline-flex;
  height: 503px;
  margin: 300px 0 0 0;
  width: 470px;
}

.leaderboard {
  background-color: rgb(0, 69, 133);
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  display: inline-flex;
  margin-bottom: 10px;
  width: 470px;
}

.leaderboard-content {
  height: 185px;
  margin: 10px 10px;
  min-height: 0;
  min-width: 0;
  overflow: auto;
}

.leaderboard-data {
  background-color: #ffffff;
  border-radius: 5px;
  height: 185px;
  margin: 10px;
}

.leaderboard-user {
  margin: 5px;
}

.panel {
  display: block;
  width: 470px;
}

.panel-content {
  background-color: #ffffff;
  border-radius: 5px;
  height: 400px;
  margin: 10px;

}

.pledges {
  background-color: rgb(0, 69, 133);
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  display: inline-flex;
  width: 470px;
}

.pledge-button {
  margin: 25px 0;
  text-align: center;
}

.pledge-content {
  height: 185px;
  margin: 10px 10px;
  min-height: 0;
  min-width: 0;
  overflow: auto;

}

.pledge-data {
  background-color: #ffffff;
  border-radius: 5px;
  border: thin black;
  height: 185px;
  margin: 10px;
}
.username {
  font-size: 18px;
  font-weight: bold;
}

.react {
  display: inline-flex;
}

.twitter-feed {
  border: solid rgb(0, 69, 133);
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  display: inline-flex;
  margin: -900px 0 0 490px;
}

h3 {
  color: #ffffff;
  margin: 10px 0 0 10px;
  text-align: center;
  text-decoration: underline;
}



