.flip-button {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

.flip-board {
  margin: 0 50px;
}
.game-content {
  height: 400px;
  min-height: 0;
  min-width: 0;
  overflow: scroll;
}

.game-feed {
  display: inline-flex;
  margin: 250px 50px 0 50px;
  height: 600px;
  background-color: blue;
  width: 500px;
}

.leaderboard {
  background-color: green;
  display: inline-flex;
  width: 500px;
}

.leaderboard-content {
  height: 100px;
  min-height: 0;
  min-width: 0;
  overflow: scroll;
}

.leaderboard-data {
  background-color: grey;
  margin: 10px;
}

.leaderboard-user {
  margin: 5px;
}
.front {
  display: block;
  width: 500px;
}
.back {
  display: block;
  width: 500px;
}

.panel-content {
  background-color: red;
  height: 400px;
  margin: 10px;

}

.panel {
  display: block;
  width: 500px;
}
.pledges {
  background-color: purple;
  display: inline-flex;
  width: 500px;
}

.pledge-content {
  height: 100px;
  min-height: 0;
  min-width: 0;
  overflow: scroll;
}

.pledge-data {
  background-color: grey;
  margin: 10px;
}

.pledge-button {
  text-align: center;
  margin: 25px 0;
}

.react {
  display: inline-flex;
}

.twitter-feed {
  display: inline-flex;
  /*float: right;*/
  margin: -870px 50px 0 620px;
  border: solid;
}

