.about-container {
  background-color: $form-shadow;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 25px;
  padding: 10px;
  width: 75%;
}

.about-h {
  font-family: $thick-type;
}

.light-text {
  font-family: $thin-type;
  font-weight: 400;
}
