.about {
  margin-top: 75px;
  margin-bottom: 75px;

  h2 {
    border-bottom: 0.5px solid black;
    padding-bottom: 15px;
  }

  p {
    color: $black
  }
}

.about-container {
  background-color: $form-shadow;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 25px;
  padding: 10px;
  width: 75%;
}

.about-a {
  color: $accent-2;
}

.about-h {
  font-family: $thin-type;
}

.light-text {
  font-family: $thin-type;
  font-weight: 400;
}
