.campaign-charity {
  color: $white;
  font-size: 2em;
  margin-top: 10px;
}

.campaign-info {
  color: white;
  margin-top: 15px;
  background-color: $primary-1;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.campaign-title {
  border-bottom: 1px solid white;
  color: $white;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.secondary-content {
  color: $twitter-green;
}
