// Blue
$primary-1: #004585;
// Red
$primary-2: #E3383F;
// Dark Red
$primary-2-hover: #b52c32;
// Gold
$accent-1: #D39F29;
// Dark Blue
$accent-2: #003666;
// Charcoal
$font-main: #141414;
// Light grey
$form-shadow: #F0F1F1;
// Dark grey
$dark-shadow: #606060;
$white: #FFFFFF;
$black: #000000;
