#pledge-error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: $primary-2;
}

#player-error {
  position: relative;
  top: 0rem;
  left: 0rem;
  font-size: 0.8rem;
  color: $primary-2;
}

#hashtag-error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: $primary-2;
}

#image_url-error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: $primary-2;
}

#charity_url-error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: $primary-2;
}

#charity_name-error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: $primary-2;
}

#description-error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: $primary-2;
}

#campaign_name-error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: $primary-2;
}

#username-error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: $primary-2;
}

#email-error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: $primary-2;
}

#password-error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: $primary-2;
}

#confirm_password-error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: $primary-2;
}