// Caption font
$logo-type: 'Archivo Black', sans-serif;

// Caption 2 font
$logo2-type: 'Rock Salt', cursive;

// Paragraph font
$thin-type: 'Source Sans Pro', sans-serif;

$logo-font: 'Lobster', cursive;
