.lobster {
  font-family: $logo-font;
}

.caption-top {
  font-size: 8em;
  margin-bottom: -50px;
}

.caption-middle {
  font-size: 4em;
  margin-left: 80px;
}

.caption-bottom {
  font-size: 8em;
  margin-top: -75px;
}