html {
  // font-family: $logo-type;
}

a {
  color: $primary-2;
}

body {
  background-color: #f0f1f1;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  // background-image: url('http://i.imgur.com/dix08nW.jpg');
  // background-repeat: no-repeat;
  // background-size: 100% 100%;
  h1 {
    color: $font-main;
  }
}

main {
  flex: 1 0 auto;
}

.about {
  margin-top: 75px;
  margin-bottom: 75px;

  h2 {
    border-bottom: 0.5px solid black;
    padding-bottom: 15px;
  }

  p {
    color: $black
  }
}

.brand-logo {
  margin-left: 20px;
}

.call-to-action {
  color: $accent-1;
  text-shadow: 1px 1px $black;
}

.campaign-img {
  max-height: auto;
  max-width: auto;
}

.caption {
  padding-top: 50px;
  color: $primary-2;
  text-shadow: 1px 1px $black;
}

.image-container {
  max-height: 284px;
  min-height: 284px;
}

.card-reveal {
  h5 {
    color: $primary-2;
  }
}

.sub-caption {
  color: $primary-2;
}

.get-started {
  background-color: $primary-1;
  padding-bottom: 35px;
  margin-bottom: 40px;
  border-radius: 3px;
  h2 {
    color: $white;
    text-shadow: 1px 1px $black;
  }
}

.go-to {
  position: fixed;
  bottom: 20px;
}

.fa {
  color: $primary-2;
}

.how-it-works {
  margin-top: 75px;
  margin-bottom: 75px;

  h2 {
    border-bottom: 0.5px solid black;
    padding-bottom: 15px;
  }

  p {
    color: $black;
  }
}

.main-parallax {
  height: 93vh;
  border-bottom: 20px solid $primary-1;
}

.second-parallax {
  border-top: 20px solid $primary-1;
  border-bottom: 20px solid $primary-1;
  height: 90vh;
}

.card .card-content .card-title {
  display: block;
}
