html {
  font-family: $thin-type;
}

a {
  color: $primary-2;
}

body {
  background-color: #f0f1f1;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  h1 {
    color: $font-main;
    font-weight: 300;
  }
  h2 {
    color: $font-main;
    font-weight: 300;
  }
  h3 {
    color: $font-main;
    font-weight: 300;
  }
  h4 {
    color: $font-main;
  }
  h5 {
    color: $font-main;
    font-weight: 300;
  }
  h6 {
    color: $font-main;
    font-weight: 300;
  }
}

main {
  flex: 1 0 auto;
}

.brand-logo {
  margin-left: 20px;
}

.call-to-action {
  color: $accent-1;
  text-shadow: 1px 1px $black;
}

.campaign-img {
  max-height: auto;
  max-width: auto;
}

.caption {
  color: $primary-2;
  font-family: $logo-type;
  padding-top: 50px;
  text-shadow: 1px 1px $black;
}

.card .card-content .card-title {
  display: block;
}

.image-container {
  max-height: 284px;
  min-height: 284px;
}

.card-reveal {
  h5 {
    color: $primary-2;
  }
}

.get-started {
  background-color: $primary-1;
  padding-bottom: 35px;
  margin-bottom: 40px;
  border-radius: 3px;
  h2 {
    color: $white;
    text-shadow: 1px 1px $black;
  }
}

.go-to {
  position: fixed;
  bottom: 20px;
}

.main-parallax {
  height: 80vh;
  border-bottom: 20px solid $primary-1;
}

.second-parallax {
  border-top: 20px solid $primary-1;
  border-bottom: 20px solid $primary-1;
  height: 90vh;
}

.sub-caption {
  color: $primary-2;
  font-family: $logo2-type;
}
