nav {
  background-color: $primary-1;
}

.dropdown-content li>a {
  color: $accent-1;
  text-align: center;
}

.navbar-links {
  margin-left: 110px;
}

.motb-title {
  color: $primary-2;
  font-family: $logo-type;
}
