footer.page-footer{
  background-color: $primary-1;
}

nav {
  background-color: $primary-1;
}

.copywrite {
  // color: $accent-1;
  margin: 0;
}

.footer-link {
  padding: 15px;
}

.motb-title {
  color: $primary-2;
}