<!DOCTYPE html>
<html>
<% include ./partials/_head %>
<body>
<% include ./partials/_header %>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container">
  <h1>Choose a Campaign</h1>
    <div class="row">
      <% campaigns.forEach(function(campaign) { %>
        <div class="col l4 m8 offset-m2 s12">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="http://mediafiles.parentscanada.com/Images/Articles/December2014/boys_in_hockey_gear.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4"><%= campaign.title %><i class="material-icons right">more_vert</i></span>
              <p><a href="/campaigns/<%= campaign.id %>">Link to Campaign</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><%= campaign.title %><i class="material-icons right">close</i></span>
              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
</div>


<% include ./partials/_footer %>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

</body>
</html>