
<% include ./partials/_head %>
<body>
<% include ./partials/_header %>

  <div class="row">
    <form class="col s12" action="/campaigns" method="POST">
      <div class="row">
        <label>Game</label>
        <select name="game" class="browser-default selectpicker">
          <option name="option1" value="" disabled selected>Choose your option</option>
          <option value="4a130cc4-3bd4-42ad-ac93-484043a2d5bc" >Sens vs Leafs</option>
        </select>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="campaign_name" type="text" class="validate" name="campaign_name">
          <label class="active" for="campaign_name">Name of Campaign</label>
        </div>
        <div class="input-field col s12">
          <input id="charity_name" type="text" class="validate" name="charity_name">
          <label class="active" for="charity_name">Charity Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="charity_url" type="text" class="validate" name="charity_url">
          <label class="active" for="charity_url">Charity URL</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="hashtag" type="text" class="validate" name="hashtag">
          <label class="active" for="hashtag">Hashtag</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" name="email">
          <label class="active" for="email">Email</label>
        </div>
      </div>
       <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" name="password">
          <label class="active" for="password">Password</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right"></i>
      </button>
    </form>
  </div>









</body>
<% include ./partials/_footer %>
