<!DOCTYPE html>
<html>
<% include ./partials/_head %>
<body>
<% include ./partials/_header %>
<main>

<<<<<<< HEAD
  <!-- <a class="twitter-timeline"  width="300"
  height="500" data-height="400" href="https://twitter.com/SensMotB">Tweets by SensMotB</a> -->
=======
  <a class="twitter-timeline"  width="300"
  height="500" data-height="400" href="https://twitter.com/<%= handle %>">Tweets by <%= handle%></a>
>>>>>>> master

  <% if(isAuthenticated) { %>
  <a class="btn button" href="/campaigns/<%= campaign_id %>/pledges/new">Make a pledge</a>
  <% } else { %>
    <a class="btn button" href="/login">Login to make a pledge</a>
  <% } %>

  <div id="react-root"></div>

  <row>
    <div class="twitter-feed col s6">
      <a class="twitter-timeline"  width="300"
      height="500" data-height="400" href="https://twitter.com/SensMotB">Tweets by SensMotB</a>
    </div>
  </row>


  <script src="//localhost:3000/build/bundle.js"></script>
</main>

</body>
</html>
