<!DOCTYPE html>
<html>
<% include ./partials/_head %>
<body>
<% include ./partials/_header %>

  <a class="twitter-timeline"  width="300"
  height="500" data-height="400" href="https://twitter.com/SensMotB">Tweets by SensMotB</a>

  <a class="waves-effect waves-light btn" onlclick="flip()">Flip it</a>
  <div id="react-root"></div>

<% include ./partials/_footer %>

  <script src="//localhost:3000/build/bundle.js"></script>
</body>
</html>
