<!DOCTYPE html>
<html>
<% include ./partials/_head %>
<body>
<% include ./partials/_header %>

  <a class="twitter-timeline"  width="300"
  height="500" data-height="400" href="https://twitter.com/SensMotB">Tweets by SensMotB</a>

  <% if(isAuthenticated) { %>
  <a class="btn" href="/campaigns/<%= campaign_id %>/pledges/new">Make a pledge</a>
  <% } else { %>
    <a class="btn" href="/login">Login to make a pledge</a>
  <% } %>

  <div id="react-root"></div>



  <script src="//localhost:3000/build/bundle.js"></script>
</body>
</html>
