<!DOCTYPE html>
<html>
<% include ./partials/_head %>

<body>

<main>
<% include ./partials/_header %>

  <!-- call to action -->
  <div class="parallax-container valign-wrapper main-parallax">
    <div class="container">
      <div class="row center">
        <div class="caption left-align">
         <h1>Money On The Board</h1>
         <h3 class="light sub-caption">For the kids.</h3>
       </div>
      </div>
    </div>

    <!-- <div class="parallax stick-img"><img src="https://www.r-bloggers.com/wp-content/uploads/2011/02/nhl_rink_1730.gif"></div> -->
    <div class="parallax stick-img"><img src="http://wallpapercave.com/wp/rLHtVrx.jpg"></div>
    <!-- <div class="parallax stick-img"><img src="http://img04.deviantart.net/dd7c/i/2015/010/0/3/chalkboard_texture_mc2015_by_mattiamc-d8dbnac.jpg"></div> -->
    <!-- <div class="parallax stick-img"><img src="http://activeforlife.com/wp/wp-content/uploads/2015/09/hockey-with-heart.jpg"></div> -->

  </div>

  <!-- how it works -->
  <div class="container how-it-works">
    <div class=row>
      <h2 class="section-header center">How it works</h2>
    </div>
    <div class="row">
    <div class="col l3 m12 s12">
        <!-- <div class="card medium indigo darken-1 z-depth-2"> -->
          <div class="card-content black-text">
            <h3 class="center-align"><i class="fa  fa-telegram fa-3x" aria-hidden="true"></i></h3>
            <!-- <div class="divider"></div> -->
            <h4 class="card-title center">Share</h4>
            <p class="center light-text">Share your pledges on social media! Challenge others to match your pledges or make their own!</p>

          </div>
        <!-- </div> -->
      </div>
      <div class="col l3 m12 s12">
        <!-- <div class="card medium indigo darken-4 z-depth-2"> -->
          <div class="card-content black-text">
            <h3 class="center-align"><i class="fa  fa-pencil-square fa-3x" aria-hidden="true"></i></h3>
            <!-- <div class="divider"></div> -->
            <h4 class="card-title center">Pledge</h4>
            <p class="center light-text">Make your pledges before the game. You can pledge on just about every in game event!</p>
          </div>
        <!-- </div> -->
      </div>
            <div class="col l3 m12 s12">
        <!-- <div class="card medium indigo darken-1 z-depth-2"> -->
          <div class="card-content black-text">
            <h3 class="center-align"><i class="fa fa-users fa-3x" aria-hidden="true"></i></h3>
            <!-- <div class="divider"></div> -->
            <h4 class="card-title center">Watch</h4>
            <p class="center light-text">Watch the real time game feed display the in game events! As events happen, your pledges will be tracked and displayed on the leaderboard.</p>
          </div>
        <!-- </div> -->
      </div>
      <div class="col l3 m12 s12">
        <!-- <div class="card medium indigo  z-depth-2"> -->
          <div class="card-content black-text">
            <h3 class="center-align"><i class="fa fa-heart fa-3x" aria-hidden="true"></i></h3>
            <!-- <div class="divider"></div> -->
            <h4 class="card-title center">Donate</h4>
            <p class="center light-text">Check your pledges at the end of the game and make sure you donate!</p>
          </div>
        <!-- </div> -->
      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper second-parallax">
    <div class="container">
      <div class="row center">
        <div class="col l8 offset-l2 valign get-started">
          <h2 class="center-align call-to-action">Get Started</h2>
          <a class="waves-effect waves-light btn-large lp-button button", href="/campaigns">View campaigns</a>
          <a class="waves-effect waves-light btn-large lp-button button ", href="/campaigns/new">Create a new campaign</a>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="http://www.wheelhousehockey.com/hs-fs/hubfs/WHH_-_Image_4.jpg?t=1435584606919&width=1910&name=WHH_-_Image_4.jpg"></div>
  </div>

  <!-- About -->
  <div class="container about">
    <div class="row">
      <h2 class="section-header center about-h" id="about">About</h2>
    </div>
    <div class="row">
      <p class="flow-text light-text">Placing Money on the Board is a hockey tradition in which a player or coach will pledge money on a locker-room whiteboard as extra incentive to score a game-winning goal or win a key game. Money on the Board has evolved into a grassroots campaign that encourages fans to make pledges for various in-game events with all proceeds going to a charity of choice. For example, Senators fans can pledge $6.50 for every Karlsson point, or $25 for a Chris Neil fight.<br><br>

      Money on the Board expands on the grassroots campaign, Making it easy for anyone to create a campaign of their own and share it with friends and family.
      </p>
    </div>
  </div>

</main>
<% include ./partials/_footer %>

</body>
</html>
