<!DOCTYPE html>
<html>
<% include ./partials/_head %>

<body>

<main>
<% include ./partials/_header %>

  <!-- call to action -->
  <div class="parallax-container valign-wrapper">
    <div class="container">
      <div class="row center">
        <div class="caption left-align">
         <h1>Money On The Board</h1>
         <h3 class="light grey-text text-lighten-3">For the kids.</h3>
       </div>
      </div>
    </div>
    <div class="parallax stick-img"><img src="http://activeforlife.com/wp/wp-content/uploads/2015/09/hockey-with-heart.jpg"></div>
  </div>

  <!-- how it works -->
  <div class="container">
    <div class=row>
      <h2 class="section-header center">How it works</h2>
    </div>
    <div class="row">
    <div class="col l3 m12 s12">
        <!-- <div class="card medium indigo darken-1 z-depth-2"> -->
          <div class="card-content black-text">
            <h3 class="center-align"><i class="fa  fa-telegram fa-3x" aria-hidden="true"></i></h3>
            <!-- <div class="divider"></div> -->
            <h4 class="card-title center">Share</h4>
            <p class="center blurb">Share your pledges on social media! Challenge others to match your pledges or make their own!</p>
          </div>
        <!-- </div> -->
      </div>
      <div class="col l3 m12 s12">
        <!-- <div class="card medium indigo darken-4 z-depth-2"> -->
          <div class="card-content black-text">
            <h3 class="center-align"><i class="fa  fa-pencil-square fa-3x" aria-hidden="true"></i></h3>
            <!-- <div class="divider"></div> -->
            <h4 class="card-title center">Pledge</h4>
            <p class="center blurb">Make your pledges before the game. You can pledge on just about every in game event!</p>
          </div>
        <!-- </div> -->
      </div>
            <div class="col l3 m12 s12">
        <!-- <div class="card medium indigo darken-1 z-depth-2"> -->
          <div class="card-content black-text">
            <h3 class="center-align"><i class="fa fa-users fa-3x" aria-hidden="true"></i></h3>
            <!-- <div class="divider"></div> -->
            <h4 class="card-title center">Watch</h4>
            <p class="center blurb">Watch the real time game feed display the in game events! As events happen, your pledges will be tracked and displayed on the leaderboard.</p>
          </div>
        <!-- </div> -->
      </div>
      <div class="col l3 m12 s12">
        <!-- <div class="card medium indigo  z-depth-2"> -->
          <div class="card-content black-text">
            <h3 class="center-align"><i class="fa fa-heart fa-3x" aria-hidden="true"></i></h3>
            <!-- <div class="divider"></div> -->
            <h4 class="card-title center">Donate</h4>
            <p class="center blurb">Check your pledges at the end of the game and make sure you donate!</p>
          </div>
        <!-- </div> -->
      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="container">
      <div class="row center">
        <div class="col l10 offset-l1 valign">
          <h2 class="center-align call-to-action">Get Started</h2>
          <a class="waves-effect waves-light btn-large lp-button", href="/campaigns">View campaigns</a>
          <a class="waves-effect waves-light btn-large lp-button", href="/campaigns/new">Create a new campaign</a>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="http://www.wheelhousehockey.com/hs-fs/hubfs/WHH_-_Image_4.jpg?t=1435584606919&width=1910&name=WHH_-_Image_4.jpg"></div>
  </div>

  <!-- About -->
  <div class="container">
    <div class="row">
      <h2 class="section-header about-h">About</h2>
    </div>
    <div class="row">
    <p class="flow-text blurb">Inspired by a charity campaign by Columbus Blue Jackets fans, Ottawa Senators fans have taken up the "Sens Money on the Board" cause, in which donations are pledged for specific in-game events.<br><br>

      Money on the board is a hockey tradition in which a player or coach will pledge money on a locker-room whiteboard as extra incentive to score a game-winning goal or win a key game. #SensMotB is a grassroots Twitter campaign that encourages fans to put money on the board for various in-game events. Entries are encouraged to be as creative as possible. For example, Sens fans can pledge $6.50 for every Karlsson point, $10 for a Sens win, or $25 for a Chris Neil fight.<br><br>

      All proceeds go directly to the Sens Foundation, the Ottawa Senators-run charity that raises funds and awareness for kids in the Ottawa community.
      </p>
    </div>
  </div>

</main>
<% include ./partials/_footer %>

</body>
</html>
