<!DOCTYPE html>
<html>
<% include ./partials/_head %>
<body>
<% include ./partials/_header %>
  <div>
    <a class="waves-effect waves-light btn-large", href="/campaigns">Join a campaign</a>
    <a class="waves-effect waves-light btn-large", href="/campaigns/new">Create a new campaign</a>
  </div>
</body>
</html>