<!DOCTYPE html>
<html>
<% include ./partials/_head %>
<body>
<% include ./partials/_header %>
<main>

<div class="form-container card">
  <div class="row">
    <h5 class="form-title">Signup</h5>
  </div>
  <div class="row">
    <form class="col s12" id="signup" action="/users/new" method="POST">
      <div class="row">
        <div class="input-field col s12">
          <input id="username" type="text" class="validate" name="username">
          <label for="username">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" name="email">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" name="password">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="confirm_password" type="password" class="validate" name="confirm_password">
          <label for="confirm_password">Confirm Password</label>
        </div>
      </div>
      <a class="btn waves-effect waves-light button" href="#modal2">Submit
        <i class="material-icons right"></i>
      </a>

      <!-- Modal Structure -->
      <div id="modal2" class="modal modal-fixed-footer bottom-sheet">
        <div class="modal-content">
          <h4>I solemnly swear...</h4>
          <p>By clicking "I Agree", you have made a commitment to participate honestly, and donate your total pledge amount to the charity, foundation, or fundraiser in question.
          A link to the donate page will be provided.
          </p>
        </div>
        <div class="modal-footer">
          <button class="modal-action modal-close waves-effect waves-green btn-flat" type="submit" name="action">I Agree</button>
        </div>
      </div>
    </form>
  </div>
</div>

</main>
<% include ./partials/_footer %>

</body>

</html>
