
<% include ./partials/_head %>
<% include ./partials/_header %>


<body>

  <a class="twitter-timeline"  width="300"
  height="500" data-height="400" href="https://twitter.com/SensMotB">Tweets by SensMotB</a>

  <div id="react-root"></div>
  <script src="/dist/bundle.js"></script>

</body>

<% include ./partials/_footer %>
