
<% include ./partials/_head %>
<% include ./partials/_header %>


<body>
  <a class="twitter-timeline"  width="300"
  height="500" data-height="400" href="https://twitter.com/SensMotB">Tweets by SensMotB</a>

</body>

<% include ./partials/_footer %>

