.about-container {
  background-color: #F0F1F1;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 25px;
  padding: 10px;
  width: 75%; }

.about-a {
  color: #003666; }

.about-h {
  font-family: "Source Sans Pro", sans-serif; }

.light-text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400; }

.btn {
  background-color: #E3383F; }
  .btn:hover {
    background-color: #b52c32; }
  .btn:focus {
    background-color: #b52c32; }

.btn-log {
  margin-right: 20px;
  padding-left: 1px;
  padding-right: 1px;
  width: 106px; }

.lp-button {
  background-color: #E3383F;
  margin-bottom: 40px;
  margin-right: 5px;
  margin-left: 5px;
  width: 254px; }
  .lp-button:hover {
    background-color: #b52c32; }

#pledge-error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: #E3383F; }

#player-error {
  position: relative;
  top: 0rem;
  left: 0rem;
  font-size: 0.8rem;
  color: #E3383F; }

#hashtag-error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: #E3383F; }

#image_url-error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: #E3383F; }

#charity_url-error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: #E3383F; }

#charity_name-error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: #E3383F; }

#description-error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: #E3383F; }

#campaign_name-error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: #E3383F; }

#username-error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: #E3383F; }

#email-error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: #E3383F; }

#password-error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: #E3383F; }

#confirm_password-error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: #E3383F; }

footer.page-footer {
  background-color: #004585;
  padding-top: 0; }

.copywrite {
  background-color: #003666;
  color: #D39F29;
  margin: 0;
  padding: 4px 256px;
  width: 100%; }

.footer-links {
  display: flex; }

input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #004585;
  box-shadow: 0 1px 0 0 #004585; }

input[type=email]:focus:not([readonly]) {
  border-bottom: 1px solid #004585;
  box-shadow: 0 1px 0 0 #004585; }

input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #004585;
  box-shadow: 0 1px 0 0 #004585; }

input[type=email]:focus:not([readonly]) + label {
  color: #004585; }

input[type=password]:focus:not([readonly]) + label {
  color: #004585; }

input[type=text]:focus:not([readonly]) + label {
  color: #004585; }

input[type=email].valid {
  border-bottom: 1px solid #D39F29;
  box-shadow: 0 1px 0 0 #D39F29; }

input[type=password].valid {
  border-bottom: 1px solid #D39F29;
  box-shadow: 0 1px 0 0 #D39F29; }

input[type=text].valid {
  border-bottom: 1px solid #D39F29;
  box-shadow: 0 1px 0 0 #D39F29; }

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #004585;
  box-shadow: 0 1px 0 0 #004585; }

textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #004585; }

textarea.materialize-textarea.valid {
  border-bottom: 1px solid #D39F29;
  box-shadow: 0 1px 0 0 #D39F29; }

.dropdown-content li > span {
  color: #D39F29; }

.form-container {
  background-color: #F0F1F1;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 25px;
  padding: 10px;
  width: 75%; }

.form-title {
  margin-left: 20px; }

a {
  color: #E3383F; }

body {
  background-color: #f0f1f1;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }
  body h1 {
    color: #171717; }
  body h2 {
    color: #171717; }

main {
  flex: 1 0 auto; }

.about {
  margin-top: 75px;
  margin-bottom: 75px; }
  .about h2 {
    border-bottom: 0.5px solid black;
    padding-bottom: 15px; }
  .about p {
    color: #000000; }

.brand-logo {
  margin-left: 20px; }

.call-to-action {
  color: #D39F29;
  text-shadow: 1px 1px #000000; }

.campaign-img {
  max-height: auto;
  max-width: auto; }

.caption {
  color: #E3383F;
  font-family: "Archivo Black", sans-serif;
  padding-top: 50px;
  text-shadow: 1px 1px #000000; }

.image-container {
  max-height: 284px;
  min-height: 284px; }

.card-reveal h5 {
  color: #E3383F; }

.sub-caption {
  color: #E3383F;
  font-family: "Rock Salt", cursive; }

.get-started {
  background-color: #004585;
  padding-bottom: 35px;
  margin-bottom: 40px;
  border-radius: 3px; }
  .get-started h2 {
    color: #FFFFFF;
    text-shadow: 1px 1px #000000; }

.go-to {
  position: fixed;
  bottom: 20px; }

.fa {
  color: #E3383F; }

.how-it-works {
  margin-top: 75px;
  margin-bottom: 75px; }
  .how-it-works h2 {
    border-bottom: 0.5px solid black;
    padding-bottom: 15px; }
  .how-it-works p {
    color: #000000; }

.main-parallax {
  height: 93vh;
  border-bottom: 20px solid #004585; }

.second-parallax {
  border-top: 20px solid #004585;
  border-bottom: 20px solid #004585;
  height: 90vh; }

.card .card-content .card-title {
  display: block; }

nav {
  background-color: #004585; }

.navbar-links {
  margin-left: 110px; }

.motb-title {
  color: #E3383F;
  font-family: "Archivo Black", sans-serif; }

.campaign-info {
  color: white;
  margin-top: 15px;
  background-color: #004585;
  padding: 10px;
  border-radius: 5px;
  text-align: center; }

.campaign-title {
  color: #FFFFFF; }

.secondary-content {
  color: #19c856; }

.lobster {
  font-family: "Lobster", cursive; }

.caption-top {
  font-size: 8em;
  margin-bottom: -50px; }

.caption-middle {
  font-size: 4em;
  margin-left: 80px; }

.caption-bottom {
  font-size: 8em;
  margin-top: -75px; }

/*# sourceMappingURL=style.css.map */
