#pledge-error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: #E3383F; }

#player-error {
  position: relative;
  top: 0rem;
  left: 0rem;
  font-size: 0.8rem;
  color: #E3383F; }

#hashtag-error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: #E3383F; }

#image_url-error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: #E3383F; }

#charity_url-error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: #E3383F; }

#charity_name-error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: #E3383F; }

#description-error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: #E3383F; }

#campaign_name-error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: #E3383F; }

#username-error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: #E3383F; }

#email-error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: #E3383F; }

#password-error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: #E3383F; }

#confirm_password-error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: #E3383F; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

nav {
  background-color: #004585; }

footer.page-footer {
  background-color: #004585; }

input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #004585;
  box-shadow: 0 1px 0 0 #004585; }

input[type=email]:focus:not([readonly]) {
  border-bottom: 1px solid #004585;
  box-shadow: 0 1px 0 0 #004585; }

input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #004585;
  box-shadow: 0 1px 0 0 #004585; }

input[type=email]:focus:not([readonly]) + label {
  color: #004585; }

input[type=password]:focus:not([readonly]) + label {
  color: #004585; }

input[type=text]:focus:not([readonly]) + label {
  color: #004585; }

input[type=email].valid {
  border-bottom: 1px solid #d39f29;
  box-shadow: 0 1px 0 0 #d39f29; }

input[type=password].valid {
  border-bottom: 1px solid #d39f29;
  box-shadow: 0 1px 0 0 #d39f29; }

input[type=text].valid {
  border-bottom: 1px solid #d39f29;
  box-shadow: 0 1px 0 0 #d39f29; }

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #004585;
  box-shadow: 0 1px 0 0 #004585; }

textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #004585; }

textarea.materialize-textarea.valid {
  border-bottom: 1px solid #d39f29;
  box-shadow: 0 1px 0 0 #d39f29; }

.brand-logo {
  margin-left: 20px; }

.btn-log {
  margin-right: 20px;
  padding-left: 1px;
  padding-right: 1px;
  width: 106px; }

.btn {
  background-color: #e3383f; }
  .btn:hover {
    background-color: #b52c32; }
  .btn:focus {
    background-color: #b52c32; }

.call-to-action {
  color: #d39f29;
  text-shadow: 1px 1px #000; }

.campaign-img {
  max-height: 284px;
  min-height: 284px;
  max-width: 384px;
  min-width: 384px; }

.caption {
  color: #b52c32;
  text-shadow: 1px 1px #000; }

.copywrite {
  margin: 0; }

.dropdown-content li > span {
  color: #d39f29; }

.footer-link {
  padding: 15px; }

.form-container {
  background-color: #f0f1f1;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 25px;
  padding: 10px;
  width: 75%; }

.form-title {
  margin-left: 20px; }

.go-to {
  position: fixed;
  bottom: 20px; }

.lp-button {
  background-color: #004585;
  border: 1px solid #d39f29;
  width: 254px; }
  .lp-button:hover {
    background-color: #b52c32; }

.motb-title {
  color: #e3383f; }

/*# sourceMappingURL=style.css.map */
